{% extends "base.html" %}

{% block title %}{{ title }} – {% endblock %}

{% block content %}
<div class="tl_page_wrap">
  <div class="tl_page">
    <main class="tl_article tl_article_editable">
      <header class="tl_article_header">
        <h1 dir="auto">{{ title }}</h1>
        <address dir="auto">
          <a rel="author" target="_blank">👨🏻‍💻 {{ author }}</a><!--
         --><time>{{ date }}</time>
        </address>
      </header>
      <article id="_tl_editor" class="tl_article_content ql-container ql-disabled">
        <div class="ql-editor" contenteditable="false" dir="auto"><!--
        --><h1 data-placeholder="Title" data-label="Title">{{ title }}</h1><!--
        --><p>{{ text }}</p><!--
     --></div>
      </article>
      <aside class="tl_article_buttons">
        <div class="account account_top">👨🏻‍💻 {{ author }}</div>
        <button id="_edit_button" class="button edit_button">Edit</button><!--
     --><button id="_publish_button" class="button publish_button">Publish</button>
        <div class="account account_bottom">👨🏻‍💻 {{ author }}</div>
        <div id="_error_msg" class="error_msg"></div>
      </aside>
    </main>
  </div>
</div>
{% endblock %}