{% extends "base.html" %}

{% block title %}{{ title }} – {% endblock %}

{% block content %}
  <div class="articles">
    <div class="title">
        <h1>{{ title }}</h1>
    </div>
    <div class="author">
        <h4>{{ author }} • {{ date }}</h4>
    </div>
    <div class="text">
        <p>{{ text }}</p>
    </div>
    {% if author == request.user %}
      <!--- <input type="button" value="EDIT" onClick="document.location = '?edit=1'"> --->
      <input type="button" value="EDIT" onClick="localStorage.setItem('edit', 1); location.reload()">
    {% endif %}
  </div>
{% endblock %}