{% extends "base.html" %}

{% block title %}{{ title }} – {% endblock %}

{% block content %}
<div class="tl_page_wrap">
  <div class="tl_page">
    <main class="tl_article tl_article_editable">
      <header class="tl_article_header">
        <h1>{{ title }}</h1>
        <address><a>👨🏻‍💻 {{ author }}</a><time>{{ date }}</time></address>
      </header>
      <article class="tl_article_content ql-container ql-disabled">
        <div class="ql-editor"><h1>{{ title }}</h1><p>{{ text }}</p></div>
      </article>
      <aside class="tl_article_buttons">
        <div class="account account_top"><a style="border-bottom:none" href="#">👤 {{ request.user }}</a></div>
        {% if author == request.user %}
          <button id="_edit_button" class="button edit_button">Edit</button><!--
       --><button id="_publish_button" class="button publish_button">Publish</button>
        {% endif %}
        <div class="account account_bottom"><a style="border-bottom:none" href="#">👤 {{ request.user }}</a></div>
      </aside>
    </main>
  </div>
</div>
{% endblock %}