{% load i18n static %}

<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="MobileOptimized" content="176">
    <meta name="HandheldFriendly" content="True">
    <meta name="robots" content="index, follow">

    <title>{% block title %}{% endblock %}Flatype</title>
    <link rel="icon" href="{% static '/img/logo.png' %}" type="image/png" />

    <link rel="stylesheet" href="{% static 'css/core.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/quill.core.min.css' %}" />
  </head>
  <body>
    {% block content %}{% endblock %}
  </body>
</html>
