{% extends "base.html" %}
{% load l10n %}

{% block title %}{{ article.title }} – {% endblock %}

{% block content %}<header class="tl_article_header">
            <h1 dir="auto">{{ article.title }}</h1>
            <address dir="auto">
              <a rel="author">{% if article.author is not None %}{{ article.author }}{% endif %}</a><!--
           --><time datetime="">{{ article.date|date:"F d, Y" }}</time>
            </address>
          </header>
          <article id="_tl_editor" class="tl_article_content">{{ article.content|safe }}</article>{% endblock %}

{% block script %}<script>var T = { pageId: location.pathname.replace('/', '') };</script>{% endblock %}